/1 ThreadsAndLocks/Day1/Puzzle/Puzzle/target/
/1 ThreadsAndLocks/Day1/Philosopher/target/
Code from Book/code/
/1 ThreadsAndLocks/Day1/PhilosopherGlobalOrderingRule/target/
/1 ThreadsAndLocks/Day2/Uninterruptible/target/
/1 ThreadsAndLocks/Day2/Interruptible/target/
/1 ThreadsAndLocks/Day2/DiningPhilosophersTimeout/DiningPhilosophersTimeout/target/